<% if post.file.attached? %>
    <% if post.file.image?%>
        <%= imag_tag(post.file)%>
    <% else %>
        <%= link_to post.file.filename, url_for(post.file) %>
        <%= @text%>
        <h1> Result from openai</h1>
        <%= @result%>
    <% end %>
<% end %>
